@charset "uft-8";

h1 {
    background-color: rgb(180, 195, 216);
}

li {
    color: black;
    background: aliceblue;
    font-size: 20px;
    }

h2 {
    background: deepskyblue;
}

h3 {
    background: darkseagreen;
}

p {
    background-color: aliceblue;
    font-size: 20px;
}

body {
    padding-top: 50px;
}

.starter-template {
    padding: 40px 15px;
}

video {
    padding: 40px 15px;
}

.button {
    display: inline;
    margin: 0 16px 0 0;
    border: 1px solid #666666;
    padding: 4px;
    border-radius: 4px;
    background: linear-gradient(rgba(255, 255, 255, 0.116),#888888);
}